email=coldenergyteck@yahoo.com
always-auth=true
@my-org:registry=http://3.237.89.105:8081/coldenergy/repository/ColdEnergyTeck-repo/
#@my-org:registry:_auth=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
@my-org:registry:username=admin
@my-org:registry:_password=admin
//registry.npmjs.org/:_auth=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
#registry.npmjs.org/:_authToken=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
