email=coldenergy@yahoo.com
##always-auth=true
//registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
//registry.npmjs.org/:username=admin
//registry.npmjs.org/:_password=admin
#//registry.npmjs.org/:_authToken=dummy
allowRepublish=true
